@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-hero-50: oklch(0.8621 0.079 144.85); /* #b2e0b2 */
  --color-hero-100: oklch(0.796 0.0889 144.68); /* #99cc99 */
  --color-hero-200: oklch(0.7172 0.0908 144.56); /* #80b380 */
  --color-hero-300: oklch(0.6331 0.0929 144.38); /* #669966 */
  --color-hero-400: oklch(0.5507 0.0918 145.52); /* #4d8050 */
  --color-hero-500: oklch(0.4611 0.097 143.8); /* #336633 */
  --color-hero-600: oklch(0.3835 0.0709 144.04); /* #2a4d2a */
  --color-hero-700: oklch(0.3336 0.0665 143.9); /* #1f3f1f */
  --color-hero-800: oklch(0.2859 0.0619 143.75); /* #153215 */
  --color-hero-900: oklch(0.2391 0.0604 143.4); /* #0a260a */
}

@layer base {
  *:not(svg) {
    @apply text-hero-500 rounded-md border-green-200;
  }

  /* Disable ouline global */
  input,
  textarea,
  select {
    @apply focus:ring-0 focus:outline-none;
  }
}
